* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-radius: 10px;
  opacity: 0;
  width: 0;
  height: 0;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
  padding-left: 10px;
}
i {
  font-size: 20px;
  color: #8A8A8A;
}

@keyframes fadeInAnimation {
  0%, 20%, 50%, 70% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: auto;
  }
}